@using EPiServer.Commerce.Marketing
@using EPiServer.Reference.Commerce.Site.Features.Start.Models
@model StartPageViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Html.PropertyFor(m => m.StartPage.MainContentArea, new { CssClass = "row" })
        </div>
    </div>
</div>
