<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="true" description="GlobalLink ProjectDirector Adaptor integrates EPiServer with GlobalLink Project Director to create and manage translation projects" tags="EPiServerModulePackage">
	<assemblies>
		<add assembly="GlobalLink.Translation" />
		<add assembly="GlobalLink.Translation.Common" />
		<add assembly="GlobalLink.Connect" />
		<add assembly="GlobalLink.Commerce" />
	</assemblies>
</module>