@model EPiServer.Reference.Commerce.Site.Features.Orders.ViewModels.OrdersPageViewModel
<div class="container-fluid">
    <div class="row myPage">
        <aside class="col-xs-12 col-sm-3 sidebar-nav">
            <h2 class="h3">Account</h2>
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation" class="is-active">
                    <a href="/en/my-pages/profile/" aria-expanded="True">Profile</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/address-book/" aria-expanded="False">Address book</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/order-history/" aria-expanded="False">Order history</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/wish-list/" aria-expanded="False">Wish list</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/reset-password/" aria-expanded="False">Reset password</a>
                </li>
            </ul>
            <h2 class="h3">Organization</h2>
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation">
                    <a href="#" class="" aria-expanded="">[Organization]</a>
                    <ul class="nav nav-stacked" role="tablist">
                        <li><a href="#" class="" aria-expanded="">[Suborganization A]</a></li>
                        <li><a href="#" class="" aria-expanded="">[Suborganization B]</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <main class="col-xs-12 col-sm-9">
            <div class="spacer-left-l">
                <div class="btn-group spacer-bottom-l" role="group" aria-label="">
                    <a href="@Url.Action("Index", "OrganizationPage")" class="btn btn-default">Overview</a>
                    <a href="#" class="btn btn-default">Users</a>
                    <a href="#" class="btn btn-default active">Orders</a>
                    <a href="#" class="btn btn-default">Order Pad</a>
                    <a href="#" class="btn btn-default">Budgeting</a>
                </div>
                <section>

                    <div class="section-title spacer-bottom-m">
                        <label>Filter by status:</label>
                        <div class="btn-group spacer-left-s" role="group">
                            <a href="#" class="btn btn-default active">all</a>
                            <a href="#" class="btn btn-default">in progress</a>
                            <a href="#" class="btn btn-default">requested quote</a>
                            <a href="#" class="btn btn-default">completed</a>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>order no.</th>
                            <th>placed on</th>
                            <th>amount</th>
                            <th>suborganization</th>
                            <th>user</th>
                            <th>status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">#22548</a></td>
                            <td>September 23rd, 2016</td>
                            <td>$320</td>
                            <td>Episerver EMEA</td>
                            <td>Tina Mayer</td>
                            <td>completed</td>
                        </tr>
                        <tr>
                            <td><a href="#">#23948</a></td>
                            <td>September 23rd, 2016</td>
                            <td>$120</td>
                            <td>Episerver Americas</td>
                            <td>Ashley Steward</td>
                            <td>in progress</td>
                        </tr>
                        <tr>
                            <td><a href="#">#24589</a></td>
                            <td>September 23rd, 2016</td>
                            <td>$390</td>
                            <td>Episerver Americas</td>
                            <td>Mike Purchaser</td>
                            <td>requested quote</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </main>
    </div>
</div>
