.btn.btn-default {
  color: #337ab7 ;
  background-color: transparent;
  border-color: #eee;
}
.btn.btn-default:hover {
  background-color: #eee;
}
.btn.btn-default.active {
  background: #f2f2f2;
  box-shadow: none;
}
input,
select,
textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 240px;
  padding: 5px;
}
.main-content {
  padding-left: 30px;
}
.max-width {
  max-width: 500px;
}
.spacer-bottom-s {
  margin-bottom: 8px;
}
.spacer-top-s {
  margin-top: 8px;
}
.spacer-bottom-m {
  margin-bottom: 16px;
}
.spacer-top-m {
  margin-top: 16px;
}
.spacer-bottom-l {
  margin-bottom: 32px;
}
.spacer-top-l {
  margin-top: 32px;
}
.spacer-left-xs {
  margin-left: 4px;
}
.spacer-left-s {
  margin-left: 8px;
}
.spacer-left-m {
  margin-left: 16px;
}
.spacer-left-l {
  margin-left: 32px;
}
.section-title .h1,
.section-title .h2,
.section-title .h3,
.section-title .h4,
.section-title .h5,
.section-title .h6,
.section-title .btn {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-nav {
  border-right: 1px solid #ccc;
}
.sidebar-nav h2:first-child {
  margin-top: 0;
}
.sidebar-nav .nav .nav {
  padding-left: 16px;
}
