@model EPiServer.Reference.Commerce.Site.Features.Organization.ViewModels.OrganizationPageViewModel
<div class="container-fluid">
    <div class="row myPage">
        <aside class="col-xs-12 col-sm-3 sidebar-nav">
            <h2 class="h3">Account</h2>
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation" class="is-active">
                    <a href="/en/my-pages/profile/" aria-expanded="True">Profile</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/address-book/" aria-expanded="False">Address book</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/order-history/" aria-expanded="False">Order history</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/wish-list/" aria-expanded="False">Wish list</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/reset-password/" aria-expanded="False">Reset password</a>
                </li>
            </ul>
            <h2 class="h3">Organization</h2>
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation">
                    <a href="#" class="" aria-expanded="">[Organization]</a>
                    <ul class="nav nav-stacked" role="tablist">
                        <li><a href="#" class="" aria-expanded="">[Suborganization A]</a></li>
                        <li><a href="#" class="" aria-expanded="">[Suborganization B]</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <main class="col-xs-12 col-sm-9">
            <div class="spacer-left-l">
                <div class="btn-group spacer-bottom-l" role="group" aria-label="">
                    <a href="#" class="btn btn-default active">Overview</a>
                    <a href="#" class="btn btn-default">Users</a>
                    <a href="#" class="btn btn-default">Orders</a>
                    <a href="#" class="btn btn-default">Order Pad</a>
                    <a href="#" class="btn btn-default">Budgeting</a>
                </div>
                <section class="spacer-bottom-l">
                    <div class="section-title spacer-bottom-l">
                        <h2 class="h3">Edit parent organization</h2>
                    </div>
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <br />
                            <input type="text" placeholder="" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <br />
                            <textarea></textarea>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="@Url.Action("Index", "OrganizationPage")" class="btn btn-default">Cancel</a>
                </section>
            </div>
        </main>
    </div>
</div>
