@model EPiServer.Reference.Commerce.Site.Features.Organization.ViewModels.OrganizationPageViewModel

<div class="container-fluid">
    <div class="row myPage">
        @Html.Partial("_CmsNavigation", Model.CurrentPage)
    </div>
</div>
