@model EPiServer.Reference.Commerce.Site.Features.Payment.ViewModels.BudgetPaymentViewModel 

@Html.HiddenFor(model => model.PaymentMethod.PaymentMethodId)

<div class="alert alert-info">
    Amount will be deducted from assigned budget.
</div>