<connectionStrings>
  <clear />
  <!--
        IMPORTANT!
        The default path of the DataDirectory variable is siteroot\App_Data\
        This is changed during application start to siteroot\..\db\ which is where
        you should place the databases for the site if you use LocalDb
        
        ABOUT UPDATING
        When you need to update these databases using the update-epidatabase command
        from the Package Manager Console, you need to change the connectionstring to
        a full path. The update-epidatabase command will read the connection strings
        and locate the database. Since the DataDirectory is changed in memory during
        the startup of the web sites, they know how to find the databases. This is
        not the case for the update-epidatabase command.
        
        Change both AttachDbFilename settings:
        AttachDbFilename=c:\path\to\your\QuicksilverB2BDEVCMS.mdf and
        AttachDbFilename=c:\path\to\your\QuicksilverB2BDEVCOmmerce.mdf
    -->
  <add name="EPiServerDB" connectionString="Data Source=(LocalDb)\MSSqlLocalDB;AttachDbFilename=|DataDirectory|QuicksilverB2BDEVCMS.mdf;Initial Catalog=QuicksilverB2BDEV.Cms;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=(LocalDb)\MSSqlLocalDB;AttachDbFilename=|DataDirectory|QuicksilverB2BDEVCOmmerce.mdf;Initial Catalog=QuicksilverB2BDEV.Commerce;Integrated Security=True;Connect Timeout=10;" providerName="System.Data.SqlClient" />
  <add name="EPiServerAzureBlobs" connectionString="DefaultEndpointsProtocol=https;AccountName=mystorageccount;AccountKey=abcdefghijklmnoabcdefghijklmnoabcdefghijklmno" />
  <add name="EPiServerAzureEvents" connectionString="Endpoint=sb://myservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=abcdefghijklmnoabcdefghijklmnoabcdefghijklmno=" />
</connectionStrings>