@using System.Web.Optimization
@model EPiServer.Reference.Commerce.Site.Features.Budgeting.ViewModels.BudgetingPageViewModel

<div class="container-fluid">
    <div class="row myPage">
        <aside class="col-xs-12 col-sm-3 sidebar-nav">
            <h2 class="h3">Account</h2>
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation" class="is-active">
                    <a href="/en/my-pages/profile/" aria-expanded="True">Profile</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/address-book/" aria-expanded="False">Address book</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/order-history/" aria-expanded="False">Order history</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/wish-list/" aria-expanded="False">Wish list</a>
                </li>
                <li role="presentation" class="">
                    <a href="/en/my-pages/reset-password/" aria-expanded="False">Reset password</a>
                </li>
            </ul>
            <h2 class="h3">Organization</h2>
            <ul class="nav nav-stacked" role="tablist">
                <li role="presentation">
                    <a href="@Url.Action("Index", "OrganizationPage")" class="" aria-expanded="">[Organization]</a>
                    <ul class="nav nav-stacked" role="tablist">
                        <li><a href="@Url.Action("Index", "SubOrganizationPage")" class="" aria-expanded="">[Sub-organization A]</a></li>
                        <li><a href="@Url.Action("Index", "SubOrganizationPage")" class="" aria-expanded="">[Sub-organization B]</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
        <main class="col-xs-12 col-sm-9">
            <div class="spacer-left-l">
                <div class="btn-group spacer-bottom-l" role="group" aria-label="">
                    <a href="#" class="btn btn-default">Overview</a>
                    <a href="#" class="btn btn-default">Users</a>
                    <a href="#" class="btn btn-default">Orders</a>
                    <a href="#" class="btn btn-default">Order Pad</a>
                    <a href="#" class="btn btn-default active">Budgeting</a>
                </div>
                <section class="spacer-bottom-l">
                    <div class="section-title spacer-bottom-l">
                        <h2 class="h3">Edit organization budget</h2>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Currency</label>
                            <div class="custom-select">
                                <span class="custom-select-split"></span>
                                <span class="custom-select-arrow arrow-down"></span>
                                <select disabled>
                                    <option value="USD" selected>USD</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Allocated</label>
                            <input type="text" class="form-control" value="800,000"/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Spent budget</label>
                            <input type="text" class="form-control" value="350,000" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Remaining</label>
                            <input type="text" class="form-control" value="450,000" disabled/>
                            <small class="col-sm-offset-2">Calculated based on start date / end date.</small>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Start date</label>
                            <div class="custom-date-input">
                                <input type="text" id="startDate" class="form-control" disabled />
                                <span class="icon-calendar glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Due date</label>
                            <div class="custom-date-input">
                                <input type="text" id="dueDate" class="form-control" />
                                <span class="icon-calendar glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Status</label>
                            <div class="custom-select">
                                <span class="custom-select-split"></span>
                                <span class="custom-select-arrow arrow-down"></span>
                                <select disabled>
                                    <option value="active" selected>active</option>
                                    <option value="hold">hold</option>
                                </select>
                            </div>
                        </div>

                        <div class="spacer-top-l">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="@Url.Action("Index", "BudgetingPage")" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </section>
            </div>
        </main>
    </div>
</div>